/* Reset styles to default values */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
code,
em,
img,
svg,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Remove default list styles */

ul,
ol {
  list-style: none;
}

/* Set default font family and size */

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

/* Remove spacing before and after block elements */

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* Remove border and outline on focused elements */

a:focus {
  outline: 0;
}

/* Reset text-decoration to 'none' */

a {
  text-decoration: none;
}

/* Reset some styles for form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* Normalize font family and size for form elements */

button,
input,
select,
textarea {
font-size: 100%;
font-family: inherit;
}

/* Normalize font family and size for form elements */

body {
    background: url(../images/safeco24_equateur_allover_feuille_canard_160_2.jpg);
    background-size: cover;
}
body::after {
    content: '';
    display: block;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.64);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    position: relative;
    max-width: 1560px;
    height: auto;
    margin: auto;
    z-index: 1;
}

.language {
    margin-left: 7.25rem;
    margin-top: 2.31rem;
    display: flex;
    align-items: center;
}

.flag__blue {
    width: 22px;
    height: 11px;
    background-color: #004996;
    border-radius: 20px 20px 0 0;
}

.flag__yellow {
    width: 22px;
    height: 11px;
    background-color: #CCAA00;
    border-radius: 0 0 20px 20px;
}

.language__list {
    margin-left: 0.56rem;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 30px;
    padding: 45px 56px 20px 56px;
}

.contacts__numbers {
    display: flex;
    cursor: pointer;
    gap: 25px;
}

.numbers {
    color: #000;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about {
    color: #000;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contacts__about {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}
.icon1 {
    background: url(../images/mdi-light_account.svg);
}
.icon2 {
    background: url(../images/fluent_heart-20-regular.svg);
}
.icon3 {
    background: url(../images/clarity_shopping-bag-line.svg);
}
.contact__icon1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__icon3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon__shop {
    margin-left: 20px;
    width: 22px;
    height: 22px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background: #687273;
    height: 44px;
}

.navigation__left {
    display: flex;
    gap: 20px;
}

.navigation__right {
    align-items: center;
    display: flex;
    gap: 20px;
}

.navigation__text {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.navigation__input {
    display: flex;
    height: 44px;
}

.header__input {
    display: flex;
    border: none;
    outline: none;
    font-size: 18px;
    max-width: 150px;
}

.header__lable {
    background-color: #FFF;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header__lable::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.image__input {
    width: 28px;
}

.header__logo {
    position: absolute;
    width: 14rem;
    height: 14rem;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.menu__mob, .unlock__menu {
    display: none;
}

@media screen and (max-width: 1220px) {
    .header__logo {
        position: absolute;
        width: 10rem;
        height: 10rem;
        margin-top: 72px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navigation__text {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }
    .numbers {
        color: #000;
        font-family: Montserrat;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .about {
        color: #000;
        font-family: Montserrat;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .header__navigation {
        padding: 0 20px 0 20px;
    }
    .header__contacts {
        margin: 0 0 0 60px;
    }
    .menu__mob, .unlock__menu {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .header__logo {
        display: none;
    }
    .header__navigation {
        padding: 0 5px;
    }
    .header__contacts, .navigation__text{
        display: none;
    }
    .header__input {
        max-width: 100vh;
    }
    .language {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .menu__mob {
        display: block;
        max-width: 220px;
        height: 100vh;
        background-color: #687273;
    }
    .menu__close__btn {
        margin-left: 10px;
        border: none;
        padding: 0;
        width: 19px;
        height: 17px;
        background-color: #687273;
        cursor: pointer;
    }
    .menu__icon__btn {
        width: 15px;
        height: 15px;
        fill: #FFF;
    }
    .mob__menu__wrap {
        background-color: #687273;
        padding: 20px 10px 50px 15px;
    }
    .mob__navigation__text {
        color: #fefefe;
        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 20px;
        margin-left: 0;
    }
    .mob-contact-link {
        color: #fefefe;
    }
    .mob-soc-list {
        display: flex;
        justify-content: space-between;
    }
    .unlock__menu {
        background-color: #687273;
        display: block;
        border: none;
        cursor: pointer;
    }
    .main__social__icon {
        fill: #FFF;
    }
    .menu__mob {
        display: none;
    }
    
}

/* ********main********** */

.main .container {
    max-width: 1560px;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    opacity: 1;
    width: 327908px;
    transform: translate3d(-46844px, 0px, 0px);
}
.slider {
    position: relative;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 50px;
    border: none;
}

.slick-prev {
    background: url(../images/ep_arrow-left.svg) 0 0 / 100% no-repeat;
    transform: rotate(180deg);
    left: 0;
}
.slick-next {
    background: url(../images/ep_arrow-left.svg) 0 0 / 100% no-repeat;
    right: 0;
}
.slider__image {
    width: 100%;
    height: 500px;
}


@media screen and (max-width: 950px) {

    .main .container {
        width: 100vh;
        overflow: visible;
    }
}
@media (max-width: 380px) {
    .slick-list {
        overflow: visible;
        max-width: 100%;
    }
    .slider__item {
        width: 100%;
    }
}

/* ******section__two****** */

.section__two {
    max-width: 1560px;
    display: flex;
    margin: auto;
    padding: 0 56px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section__two__blok {
    padding-top: 20px;
    width: calc(33.33% - 20px);
    margin: auto;
}

.section__two__card {
    max-width: 100%;
    position: relative;
}

.section__two__image {
    width: 100%;
    height: 250px;
    display: block;
}

.title {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.666);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
}
@media screen and (max-width: 950px) {
    .section__two__blok {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 600px) {
    .section__two__blok {
        width: calc(100% - 20px);
    }
}

/* ******section__three****** */

.section__three {
    max-width: 1560px;
    display: flex;
    margin: auto;
    padding: 0 56px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section__three__blok {
    padding-top: 20px;
    width: calc(25% - 20px);
    margin: auto;
    background-color: rgba(255, 241, 241, 0.745);
}
.section__three__card {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);
}
.three__blok__image {
    width: 100%;
    height: 300px;
    display: block;
}

.btn__heart {
    position: absolute;
    background: url(../images/fluent_heart-20-regular1.svg);
    background-color: rgba(15, 15, 15, 0.629);
    background-size: cover;
    border: none;
    right: 0;
    z-index: 10;
}

.three__blok__title {
    padding: 10px 10px;
}
.three__blok__item {
    padding: 0 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {

}
.price::before {
    content: "255 грн"; 
}
.btn__pay {
    background-color: rgba(91, 225, 149, 0.681);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slick-prev {
    display: none !important;
}
.slick-next {
    display: none !important;
}
@media screen and (max-width: 1200px) {
    .section__three__blok {
        width: calc(33.33% - 20px);
    }
}
@media screen and (max-width: 950px) {
    .section__three__blok {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 600px) {
    .section__three__blok {
        width: calc(100% - 20px);
    }
}